#pip3 install torch+cu111 torchvision torchaudio -f https://download.pytorch.org/whl/torch_stable.html
#pip3 install torch torchvision  torchaudio --extra-index-url https://download.pytorch.org/whl/cu116
#conda install pytorch torchvision torchaudio pytorch-cuda=11.6 -c pytorch -c nvidia
#python3 -m venv venv
torchvision
torch
pillow==8.4.0
numpy==1.19.5
einops==0.3.2
colorama
torchsummary
tqdm
tensorboard
pytest
config
decord
opencv-python